<!doctype html>
<html>

<head>
    <title>Social Authentication with Passport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="css/viewStyles.css" />
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-home" aria-hidden="true"></span> Social Authentication with Passport</h1>
            <p>Login or Register with:</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user-circle" aria-hidden="true"></span> Local Login</a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook" aria-hidden="true"></span> Facebook</a>
            <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter" aria-hidden="true"></span> Twitter</a>

            <a href="/signup" class="btn btn-default"><span class="fa fa-user" aria-hidden="true"></span> Local Signup</a>
        </div>
    </div>
</body>

</html>